.login {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form div {
  width: 300px;
  margin-top: 10px;
}

.login-signup-link a {
  margin-left: 10px;
}

.login-button button {
  width: 100%;
}

