.blog-detail {
  margin-top: 30px;
  padding: 20px;
}

.blog-detail-tags ul {
  display: flex;
}

.blog-detail-tags ul a {
  display: inline block;
  margin: 0 4px 12px 0px;
  padding: 8px;
  background: #a1a1a1;
  border-radius: 10%;
  color: #fff;
}

.blog-detail-title {
  margin-top: 20px;
}

.blog-detail-content {
  margin-top: 20px;
}

.blog-detail-content img {
  width: 300px;
  height: 300px;
  margin: 10px;
}