.blog-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .header {
  margin: 5px;
}

.meta {
  margin: 5px 10px;
}

.blog-list-nav li {
  display: inline-block;
  margin-right: 3px;
}

.blog-list-btn {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}