.my-page {
  margin-top: 30px;
  padding: 20px;
}

.my-page-header {
  margin-bottom: 40px;
}

.my-page-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff867c;
  border-radius: 25px;
  font-size: 2rem;
  color: #111;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.2s;
}

.my-page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-page-new:hover {
  color: #111;
  opacity: 0.8;
}