.tag-list {
  margin: 20px;
}

.tag-list-item {
  display: inline-block;
  margin: 3px 5px 0 0;
  padding: 8px;
  background: #a1a1a1;
  border-radius: 10%;
}

.tag-list-btn {  
  color: #fff;
}

.tags {
  margin-top: 60px;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.tag-name {
  font-size: 1.5rem;
}

.tag-link {
  margin: 16px;
  color: #a1a1a1;
}

